## Linear Classifier in TensorFlow 
Using Low Level API in Eager Execution mode

### Load tensorflow

In [1]:
import tensorflow as tf

In [2]:
#Enable Eager Execution if using tensflow version < 2.0
#From tensorflow v2.0 onwards, Eager Execution will be enabled by default

### Collect Data

In [3]:
#from google.colab import drive
#drive.mount('/gdrive')

In [4]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_csv('prices.csv')

### Check all columns in the dataset

In [6]:
data.columns

Index(['date', 'symbol', 'open', 'close', 'low', 'high', 'volume'], dtype='object')

### Drop columns `date` and  `symbol`

In [7]:
data.drop(['date', 'symbol'], axis = 1, inplace = True)

In [8]:
data.head()

         open       close         low        high     volume
0  123.430000  125.839996  122.309998  126.250000  2163600.0
1  125.239998  119.980003  119.940002  125.540001  2386400.0
2  116.379997  114.949997  114.930000  119.739998  2489500.0
3  115.480003  116.620003  113.500000  117.440002  2006300.0
4  117.010002  114.970001  114.089996  117.330002  1408600.0

### Consider only first 1000 rows in the dataset for building feature set and target set
Target 'Volume' has very high values. Divide 'Volume' by 1000,000

In [9]:
data.shape

(851264, 5)

In [10]:
data = data.iloc[:1000]

In [11]:
data.shape

(1000, 5)

In [12]:
data['volume'] = data['volume'] /1000000

In [13]:
data.head()

         open       close         low        high  volume
0  123.430000  125.839996  122.309998  126.250000  2.1636
1  125.239998  119.980003  119.940002  125.540001  2.3864
2  116.379997  114.949997  114.930000  119.739998  2.4895
3  115.480003  116.620003  113.500000  117.440002  2.0063
4  117.010002  114.970001  114.089996  117.330002  1.4086

In [14]:
X = data.drop('volume', axis = 1)
y = data['volume']

### Divide the data into train and test sets

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.30, random_state=1)

#### Convert Training and Test Data to numpy float32 arrays

In [17]:
train_x = train_x.astype('float32')
train_y = train_y.astype('float32')
test_x = test_x.astype('float32')
test_y = test_y.astype('float32')

In [18]:
print(train_x.shape)
print(train_y.shape)

(700, 4)
(700,)

### Normalize the data
You can use Normalizer from sklearn.preprocessing

In [19]:
from sklearn.preprocessing import Normalizer

In [20]:
transformer = Normalizer()
train_x = transformer.fit_transform(train_x)

In [21]:
train_x[0]

array([0.50184363, 0.49967504, 0.4953379 , 0.5031086 ], dtype=float32)

## Building the Model in tensorflow

1.Define Weights and Bias, use tf.zeros to initialize weights and Bias

In [22]:
w = tf.zeros(shape=(4,1))
b = tf.zeros(shape=(1))

2.Define a function to calculate prediction

In [23]:
def prediction(x, w, b):
    xw_matmul= tf.matmul(x, w)
    y = tf.add(xw_matmul, b)
    return y

3.Loss (Cost) Function [Mean square error]

In [24]:
def loss(y_actual, y_predicted):
    diff = y_actual-y_predicted
    sqr = tf.square(diff)
    avg = tf.reduce_mean(sqr)
    return avg

4.Function to train the Model

1.   Record all the mathematical steps to calculate Loss
2.   Calculate Gradients of Loss w.r.t weights and bias
3.   Update Weights and Bias based on gradients and learning rate to minimize loss

In [27]:
def train(x, y_actual, w, b, learning_rate=0.01):
    
    #Record mathematical operations on 'tape' to calculate loss
    with tf.GradientTape() as t:
        
        t.watch([w,b])
        
        current_prediction = prediction(x, w, b)
        current_loss = loss(y_actual, current_prediction)
    
    #Calculate Gradients for Loss with respect to Weights and Bias
    dw, db = t.gradient(current_loss,[w, b])
    
    #Update Weights and Bias
    w = w - learning_rate*dw
    b = b - learning_rate*db
    
    return w, b

## Train the model for 100 epochs 
1. Observe the training loss at every iteration
2. Observe Train loss at every 5th iteration

In [28]:
train_y = np.array(train_y)

In [29]:
for i in range(100):
    
    w, b = train(train_x, train_y, w, b)
    print('Current Loss on iteration', i, loss(train_y, prediction(train_x, w, b)).numpy())

Current Loss on iteration 0 223.49039
Current Loss on iteration 1 221.28828
Current Loss on iteration 2 219.259
Current Loss on iteration 3 217.38876
Current Loss on iteration 4 215.66518
Current Loss on iteration 5 214.07668
Current Loss on iteration 6 212.61267
Current Loss on iteration 7 211.26349
Current Loss on iteration 8 210.02014
Current Loss on iteration 9 208.8744
Current Loss on iteration 10 207.81828
Current Loss on iteration 11 206.84483
Current Loss on iteration 12 205.94783
Current Loss on iteration 13 205.12126
Current Loss on iteration 14 204.35939
Current Loss on iteration 15 203.65736
Current Loss on iteration 16 203.01028
Current Loss on iteration 17 202.41388
Current Loss on iteration 18 201.86418
Current Loss on iteration 19 201.35777
Current Loss on iteration 20 200.89095
Current Loss on iteration 21 200.46075
Current Loss on iteration 22 200.06422
Current Loss on iteration 23 199.69884
Current Loss on iteration 24 199.36218
Current Loss on iteration 25 199.05173
Current Loss on iteration 26 198.76591
Current Loss on iteration 27 198.50227
Current Loss on iteration 28 198.25922
Current Loss on iteration 29 198.03537
Current Loss on iteration 30 197.82901
Current Loss on iteration 31 197.63885
Current Loss on iteration 32 197.46367
Current Loss on iteration 33 197.3021
Current Loss on iteration 34 197.15337
Current Loss on iteration 35 197.01613
Current Loss on iteration 36 196.88963
Current Loss on iteration 37 196.77303
Current Loss on iteration 38 196.66576
Current Loss on iteration 39 196.56677
Current Loss on iteration 40 196.4757
Current Loss on iteration 41 196.3915
Current Loss on iteration 42 196.31404
Current Loss on iteration 43 196.24268
Current Loss on iteration 44 196.17696
Current Loss on iteration 45 196.11624
Current Loss on iteration 46 196.06035
Current Loss on iteration 47 196.00888
Current Loss on iteration 48 195.96152
Current Loss on iteration 49 195.91772
Current Loss on iteration 50 195.87732
Current Loss on iteration 51 195.84013
Current Loss on iteration 52 195.80603
Current Loss on iteration 53 195.77457
Current Loss on iteration 54 195.7453
Current Loss on iteration 55 195.71863
Current Loss on iteration 56 195.69397
Current Loss on iteration 57 195.67105
Current Loss on iteration 58 195.65013
Current Loss on iteration 59 195.63074
Current Loss on iteration 60 195.61305
Current Loss on iteration 61 195.59663
Current Loss on iteration 62 195.58142
Current Loss on iteration 63 195.56747
Current Loss on iteration 64 195.5547
Current Loss on iteration 65 195.5428
Current Loss on iteration 66 195.53189
Current Loss on iteration 67 195.52184
Current Loss on iteration 68 195.51256
Current Loss on iteration 69 195.50394
Current Loss on iteration 70 195.49623
Current Loss on iteration 71 195.48878
Current Loss on iteration 72 195.48209
Current Loss on iteration 73 195.47615
Current Loss on iteration 74 195.47023
Current Loss on iteration 75 195.46506
Current Loss on iteration 76 195.46024
Current Loss on iteration 77 195.45581
Current Loss on iteration 78 195.45168
Current Loss on iteration 79 195.44803
Current Loss on iteration 80 195.4445
Current Loss on iteration 81 195.44121
Current Loss on iteration 82 195.43834
Current Loss on iteration 83 195.4356
Current Loss on iteration 84 195.433
Current Loss on iteration 85 195.43063
Current Loss on iteration 86 195.42867
Current Loss on iteration 87 195.42668
Current Loss on iteration 88 195.42479
Current Loss on iteration 89 195.42308
Current Loss on iteration 90 195.42162
Current Loss on iteration 91 195.42035
Current Loss on iteration 92 195.4189
Current Loss on iteration 93 195.41757
Current Loss on iteration 94 195.41655
Current Loss on iteration 95 195.41551
Current Loss on iteration 96 195.41473
Current Loss on iteration 97 195.41368
Current Loss on iteration 98 195.413
Current Loss on iteration 99 195.41214

### Get the shapes and values of W and b

In [30]:
print('Weights:\n', w.numpy())
print('Bias:\n',b.numpy())

Weights:
 [[1.3549175]
 [1.3598167]
 [1.3410656]
 [1.3713948]]
Bias:
 [2.7137554]

In [31]:
w.shape

TensorShape([4, 1])

In [32]:
b.shape

TensorShape([1])

### Model Prediction on 1st Examples in Test Dataset

In [33]:
test_x = transformer.fit_transform(test_x)

In [34]:
prediction(test_x[0:1], w, b).numpy()

array([[5.427437]], dtype=float32)

## Classification using tf.Keras

In this exercise, we will build a Deep Neural Network using tf.Keras. We will use Iris Dataset for this exercise.

### Load the given Iris data using pandas (Iris.csv)

In [35]:
iris = pd.read_csv('iris-2.csv')

In [36]:
iris.shape

(150, 6)

In [37]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [38]:
iris = iris.drop('Id', axis = 1)

### Target set has different categories. So, Label encode them. And convert into one-hot vectors using get_dummies in pandas.

In [39]:
iris = pd.get_dummies(iris)

In [40]:
iris.shape

(150, 7)

In [41]:
iris.head()

,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_Iris-setosa,Species_Iris-versicolor,Species_Iris-virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0
3,4.6,3.1,1.5,0.2,1,0,0
4,5.0,3.6,1.4,0.2,1,0,0

### Splitting the data into feature set and target set

In [60]:
X_iris = iris[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]]
Y_iris = iris[["Species_Iris-setosa","Species_Iris-versicolor","Species_Iris-virginica"]]

In [61]:
X_iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [62]:
Y_iris.head()

   Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                    1                        0                       0
1                    1                        0                       0
2                    1                        0                       0
3                    1                        0                       0
4                    1                        0                       0

In [42]:
x = iris.iloc[:, 0:4]

In [43]:
x.shape

(150, 4)

In [44]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [45]:
y = iris.iloc[:, 4:8]

In [46]:
y.shape

(150, 3)

In [47]:
y.head()

   Species_Iris-setosa  Species_Iris-versicolor  Species_Iris-virginica
0                    1                        0                       0
1                    1                        0                       0
2                    1                        0                       0
3                    1                        0                       0
4                    1                        0                       0

###  Building Model in tf.keras

Build a Linear Classifier model  <br>
1.  Use Dense Layer  with input shape of 4 (according to the feature set) and number of outputs set to 3<br> 
2. Apply Softmax on Dense Layer outputs <br>
3. Use SGD as Optimizer
4. Use categorical_crossentropy as loss function

In [48]:
tf.keras.backend.clear_session()

In [64]:
#Initialize Sequential model
model = tf.keras.models.Sequential()

#Normalize the data
model.add(tf.keras.layers.BatchNormalization())

#Add Dense Layer which provides 3 Outputs after applying softmax
model.add(tf.keras.layers.Dense(3, input_shape=(4,), activation='softmax'))

#Compile the model
model.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

### Model Training

In [63]:
trainX, testX, trainY, testY = train_test_split(X_iris, Y_iris, test_size=0.30, random_state=1)

In [70]:
model.fit(trainX.values, trainY.values, validation_data=(testX.values, testY.values), epochs=100, batch_size=32)

Train on 105 samples, validate on 45 samples
Epoch 1/100
105/105 [==============================] - 0s 1ms/sample - loss: 0.3424 - accuracy: 0.9143 - val_loss: 0.4376 - val_accuracy: 0.8000
Epoch 2/100
105/105 [==============================] - 0s 248us/sample - loss: 0.3539 - accuracy: 0.9143 - val_loss: 0.4355 - val_accuracy: 0.8000
Epoch 3/100
105/105 [==============================] - 0s 253us/sample - loss: 0.3335 - accuracy: 0.8952 - val_loss: 0.4336 - val_accuracy: 0.8000
Epoch 4/100
105/105 [==============================] - 0s 248us/sample - loss: 0.3483 - accuracy: 0.9143 - val_loss: 0.4317 - val_accuracy: 0.8000
Epoch 5/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3358 - accuracy: 0.9238 - val_loss: 0.4300 - val_accuracy: 0.8000
Epoch 6/100
105/105 [==============================] - 0s 267us/sample - loss: 0.3437 - accuracy: 0.9048 - val_loss: 0.4280 - val_accuracy: 0.8000
Epoch 7/100
105/105 [==============================] - 0s 281us/sample - loss: 0.3481 - accuracy: 0.8857 - val_loss: 0.4253 - val_accuracy: 0.8000
Epoch 8/100
105/105 [==============================] - 0s 267us/sample - loss: 0.3844 - accuracy: 0.8857 - val_loss: 0.4227 - val_accuracy: 0.8000
Epoch 9/100
105/105 [==============================] - 0s 305us/sample - loss: 0.3602 - accuracy: 0.9143 - val_loss: 0.4209 - val_accuracy: 0.8000
Epoch 10/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3707 - accuracy: 0.9143 - val_loss: 0.4185 - val_accuracy: 0.8000
Epoch 11/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3331 - accuracy: 0.9143 - val_loss: 0.4163 - val_accuracy: 0.8000
Epoch 12/100
105/105 [==============================] - 0s 238us/sample - loss: 0.3299 - accuracy: 0.8857 - val_loss: 0.4143 - val_accuracy: 0.8000
Epoch 13/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3228 - accuracy: 0.9238 - val_loss: 0.4132 - val_accuracy: 0.8000
Epoch 14/100
105/105 [==============================] - 0s 295us/sample - loss: 0.3321 - accuracy: 0.9143 - val_loss: 0.4113 - val_accuracy: 0.8000
Epoch 15/100
105/105 [==============================] - 0s 286us/sample - loss: 0.3157 - accuracy: 0.9048 - val_loss: 0.4094 - val_accuracy: 0.8000
Epoch 16/100
105/105 [==============================] - 0s 300us/sample - loss: 0.3214 - accuracy: 0.9333 - val_loss: 0.4073 - val_accuracy: 0.8000
Epoch 17/100
105/105 [==============================] - 0s 286us/sample - loss: 0.3412 - accuracy: 0.9143 - val_loss: 0.4055 - val_accuracy: 0.8000
Epoch 18/100
105/105 [==============================] - 0s 319us/sample - loss: 0.3880 - accuracy: 0.8286 - val_loss: 0.4029 - val_accuracy: 0.8000
Epoch 19/100
105/105 [==============================] - 0s 276us/sample - loss: 0.3323 - accuracy: 0.8667 - val_loss: 0.4009 - val_accuracy: 0.8000
Epoch 20/100
105/105 [==============================] - 0s 314us/sample - loss: 0.3175 - accuracy: 0.9048 - val_loss: 0.3999 - val_accuracy: 0.8000
Epoch 21/100
105/105 [==============================] - 0s 291us/sample - loss: 0.3452 - accuracy: 0.9048 - val_loss: 0.3993 - val_accuracy: 0.8000
Epoch 22/100
105/105 [==============================] - 0s 310us/sample - loss: 0.3358 - accuracy: 0.9048 - val_loss: 0.3984 - val_accuracy: 0.8000
Epoch 23/100
105/105 [==============================] - 0s 286us/sample - loss: 0.3025 - accuracy: 0.9429 - val_loss: 0.3966 - val_accuracy: 0.8000
Epoch 24/100
105/105 [==============================] - 0s 267us/sample - loss: 0.3339 - accuracy: 0.9143 - val_loss: 0.3950 - val_accuracy: 0.8000
Epoch 25/100
105/105 [==============================] - 0s 286us/sample - loss: 0.3896 - accuracy: 0.8476 - val_loss: 0.3936 - val_accuracy: 0.8000
Epoch 26/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3075 - accuracy: 0.9333 - val_loss: 0.3927 - val_accuracy: 0.8000
Epoch 27/100
105/105 [==============================] - 0s 667us/sample - loss: 0.3055 - accuracy: 0.9429 - val_loss: 0.3913 - val_accuracy: 0.8000
Epoch 28/100
105/105 [==============================] - 0s 200us/sample - loss: 0.3214 - accuracy: 0.8952 - val_loss: 0.3893 - val_accuracy: 0.8000
Epoch 29/100
105/105 [==============================] - 0s 238us/sample - loss: 0.3540 - accuracy: 0.8667 - val_loss: 0.3874 - val_accuracy: 0.8000
Epoch 30/100
105/105 [==============================] - 0s 324us/sample - loss: 0.2964 - accuracy: 0.9143 - val_loss: 0.3860 - val_accuracy: 0.8000
Epoch 31/100
105/105 [==============================] - 0s 238us/sample - loss: 0.3186 - accuracy: 0.8952 - val_loss: 0.3847 - val_accuracy: 0.8000
Epoch 32/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3228 - accuracy: 0.9333 - val_loss: 0.3838 - val_accuracy: 0.8000
Epoch 33/100
105/105 [==============================] - 0s 267us/sample - loss: 0.3179 - accuracy: 0.9143 - val_loss: 0.3821 - val_accuracy: 0.8000
Epoch 34/100
105/105 [==============================] - 0s 286us/sample - loss: 0.3022 - accuracy: 0.9333 - val_loss: 0.3801 - val_accuracy: 0.8000
Epoch 35/100
105/105 [==============================] - 0s 286us/sample - loss: 0.2969 - accuracy: 0.9429 - val_loss: 0.3793 - val_accuracy: 0.8000
Epoch 36/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3024 - accuracy: 0.9333 - val_loss: 0.3782 - val_accuracy: 0.8000
Epoch 37/100
105/105 [==============================] - 0s 262us/sample - loss: 0.3302 - accuracy: 0.8952 - val_loss: 0.3769 - val_accuracy: 0.8000
Epoch 38/100
105/105 [==============================] - 0s 229us/sample - loss: 0.3201 - accuracy: 0.8952 - val_loss: 0.3754 - val_accuracy: 0.8000
Epoch 39/100
105/105 [==============================] - 0s 276us/sample - loss: 0.3318 - accuracy: 0.8952 - val_loss: 0.3746 - val_accuracy: 0.8000
Epoch 40/100
105/105 [==============================] - 0s 257us/sample - loss: 0.3108 - accuracy: 0.9143 - val_loss: 0.3736 - val_accuracy: 0.8000
Epoch 41/100
105/105 [==============================] - 0s 267us/sample - loss: 0.2910 - accuracy: 0.9429 - val_loss: 0.3727 - val_accuracy: 0.8000
Epoch 42/100
105/105 [==============================] - 0s 248us/sample - loss: 0.2898 - accuracy: 0.9333 - val_loss: 0.3715 - val_accuracy: 0.8000
Epoch 43/100
105/105 [==============================] - 0s 267us/sample - loss: 0.3093 - accuracy: 0.9143 - val_loss: 0.3706 - val_accuracy: 0.8000
Epoch 44/100
105/105 [==============================] - 0s 276us/sample - loss: 0.2992 - accuracy: 0.9048 - val_loss: 0.3686 - val_accuracy: 0.8222
Epoch 45/100
105/105 [==============================] - 0s 276us/sample - loss: 0.2993 - accuracy: 0.9524 - val_loss: 0.3675 - val_accuracy: 0.8222
Epoch 46/100
105/105 [==============================] - 0s 281us/sample - loss: 0.3427 - accuracy: 0.8952 - val_loss: 0.3664 - val_accuracy: 0.8222
Epoch 47/100
105/105 [==============================] - 0s 260us/sample - loss: 0.2839 - accuracy: 0.9333 - val_loss: 0.3657 - val_accuracy: 0.8222
Epoch 48/100
105/105 [==============================] - 0s 248us/sample - loss: 0.3132 - accuracy: 0.9333 - val_loss: 0.3642 - val_accuracy: 0.8222
Epoch 49/100
105/105 [==============================] - 0s 248us/sample - loss: 0.3040 - accuracy: 0.8857 - val_loss: 0.3634 - val_accuracy: 0.8222
Epoch 50/100
105/105 [==============================] - 0s 276us/sample - loss: 0.2746 - accuracy: 0.9714 - val_loss: 0.3622 - val_accuracy: 0.8222
Epoch 51/100
105/105 [==============================] - 0s 267us/sample - loss: 0.3415 - accuracy: 0.9048 - val_loss: 0.3611 - val_accuracy: 0.8222
Epoch 52/100
105/105 [==============================] - 0s 257us/sample - loss: 0.2934 - accuracy: 0.9429 - val_loss: 0.3597 - val_accuracy: 0.8222
Epoch 53/100
105/105 [==============================] - 0s 262us/sample - loss: 0.2798 - accuracy: 0.9429 - val_loss: 0.3587 - val_accuracy: 0.8222
Epoch 54/100
105/105 [==============================] - 0s 219us/sample - loss: 0.2873 - accuracy: 0.9333 - val_loss: 0.3571 - val_accuracy: 0.8222
Epoch 55/100
105/105 [==============================] - 0s 276us/sample - loss: 0.2927 - accuracy: 0.9143 - val_loss: 0.3568 - val_accuracy: 0.8222
Epoch 56/100

105/105 [==============================] - 0s 257us/sample - loss: 0.3097 - accuracy: 0.8952 - val_loss: 0.3560 - val_accuracy: 0.8222
Epoch 57/100
105/105 [==============================] - 0s 276us/sample - loss: 0.2825 - accuracy: 0.9619 - val_loss: 0.3557 - val_accuracy: 0.8222
Epoch 58/100
105/105 [==============================] - 0s 267us/sample - loss: 0.2687 - accuracy: 0.9714 - val_loss: 0.3555 - val_accuracy: 0.8222
Epoch 59/100
105/105 [==============================] - 0s 248us/sample - loss: 0.2866 - accuracy: 0.8952 - val_loss: 0.3550 - val_accuracy: 0.8222
Epoch 60/100
105/105 [==============================] - 0s 210us/sample - loss: 0.3408 - accuracy: 0.9048 - val_loss: 0.3535 - val_accuracy: 0.8222
Epoch 61/100
105/105 [==============================] - 0s 214us/sample - loss: 0.2881 - accuracy: 0.9238 - val_loss: 0.3531 - val_accuracy: 0.8222
Epoch 62/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2815 - accuracy: 0.9143 - val_loss: 0.3519 - val_accuracy: 0.8222
Epoch 63/100
105/105 [==============================] - 0s 219us/sample - loss: 0.3165 - accuracy: 0.8952 - val_loss: 0.3513 - val_accuracy: 0.8222
Epoch 64/100
105/105 [==============================] - 0s 214us/sample - loss: 0.2881 - accuracy: 0.9238 - val_loss: 0.3509 - val_accuracy: 0.8222
Epoch 65/100
105/105 [==============================] - 0s 248us/sample - loss: 0.2875 - accuracy: 0.9048 - val_loss: 0.3505 - val_accuracy: 0.8222
Epoch 66/100
105/105 [==============================] - 0s 229us/sample - loss: 0.2627 - accuracy: 0.9619 - val_loss: 0.3495 - val_accuracy: 0.8222
Epoch 67/100
105/105 [==============================] - 0s 248us/sample - loss: 0.3108 - accuracy: 0.8857 - val_loss: 0.3492 - val_accuracy: 0.8222
Epoch 68/100
105/105 [==============================] - 0s 229us/sample - loss: 0.3032 - accuracy: 0.9048 - val_loss: 0.3487 - val_accuracy: 0.8222
Epoch 69/100
105/105 [==============================] - 0s 219us/sample - loss: 0.3226 - accuracy: 0.8952 - val_loss: 0.3482 - val_accuracy: 0.8222
Epoch 70/100
105/105 [==============================] - 0s 229us/sample - loss: 0.3004 - accuracy: 0.9333 - val_loss: 0.3480 - val_accuracy: 0.8222
Epoch 71/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2866 - accuracy: 0.9143 - val_loss: 0.3462 - val_accuracy: 0.8222
Epoch 72/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2878 - accuracy: 0.9333 - val_loss: 0.3453 - val_accuracy: 0.8222
Epoch 73/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2781 - accuracy: 0.9238 - val_loss: 0.3448 - val_accuracy: 0.8222
Epoch 74/100
105/105 [==============================] - 0s 219us/sample - loss: 0.2590 - accuracy: 0.9238 - val_loss: 0.3445 - val_accuracy: 0.8222
Epoch 75/100
105/105 [==============================] - 0s 229us/sample - loss: 0.2732 - accuracy: 0.9429 - val_loss: 0.3431 - val_accuracy: 0.8222
Epoch 76/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2842 - accuracy: 0.9333 - val_loss: 0.3422 - val_accuracy: 0.8222
Epoch 77/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2594 - accuracy: 0.9333 - val_loss: 0.3410 - val_accuracy: 0.8444
Epoch 78/100
105/105 [==============================] - 0s 229us/sample - loss: 0.2745 - accuracy: 0.9524 - val_loss: 0.3395 - val_accuracy: 0.8444
Epoch 79/100
105/105 [==============================] - 0s 219us/sample - loss: 0.2586 - accuracy: 0.9524 - val_loss: 0.3386 - val_accuracy: 0.8444
Epoch 80/100
105/105 [==============================] - 0s 244us/sample - loss: 0.3018 - accuracy: 0.8952 - val_loss: 0.3381 - val_accuracy: 0.8444
Epoch 81/100
105/105 [==============================] - 0s 238us/sample - loss: 0.2697 - accuracy: 0.9238 - val_loss: 0.3373 - val_accuracy: 0.8444
Epoch 82/100
105/105 [==============================] - 0s 219us/sample - loss: 0.3137 - accuracy: 0.8762 - val_loss: 0.3371 - val_accuracy: 0.8444
Epoch 83/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2643 - accuracy: 0.9429 - val_loss: 0.3359 - val_accuracy: 0.8444
Epoch 84/100
105/105 [==============================] - 0s 224us/sample - loss: 0.2597 - accuracy: 0.9429 - val_loss: 0.3351 - val_accuracy: 0.8667
Epoch 85/100
105/105 [==============================] - 0s 200us/sample - loss: 0.2689 - accuracy: 0.9619 - val_loss: 0.3335 - val_accuracy: 0.8667
Epoch 86/100
105/105 [==============================] - 0s 267us/sample - loss: 0.2829 - accuracy: 0.9429 - val_loss: 0.3326 - val_accuracy: 0.8667
Epoch 87/100
105/105 [==============================] - 0s 253us/sample - loss: 0.2533 - accuracy: 0.9429 - val_loss: 0.3316 - val_accuracy: 0.8667
Epoch 88/100
105/105 [==============================] - 0s 210us/sample - loss: 0.2664 - accuracy: 0.9048 - val_loss: 0.3309 - val_accuracy: 0.8667
Epoch 89/100
105/105 [==============================] - 0s 238us/sample - loss: 0.2631 - accuracy: 0.9524 - val_loss: 0.3307 - val_accuracy: 0.8667
Epoch 90/100
105/105 [==============================] - 0s 229us/sample - loss: 0.2745 - accuracy: 0.9333 - val_loss: 0.3299 - val_accuracy: 0.8667
Epoch 91/100
105/105 [==============================] - 0s 238us/sample - loss: 0.2747 - accuracy: 0.9143 - val_loss: 0.3294 - val_accuracy: 0.8667
Epoch 92/100
105/105 [==============================] - 0s 224us/sample - loss: 0.2681 - accuracy: 0.9429 - val_loss: 0.3289 - val_accuracy: 0.8667
Epoch 93/100
105/105 [==============================] - 0s 238us/sample - loss: 0.2562 - accuracy: 0.9619 - val_loss: 0.3280 - val_accuracy: 0.8667
Epoch 94/100
105/105 [==============================] - 0s 248us/sample - loss: 0.3019 - accuracy: 0.8952 - val_loss: 0.3281 - val_accuracy: 0.8667
Epoch 95/100
105/105 [==============================] - 0s 214us/sample - loss: 0.2708 - accuracy: 0.9238 - val_loss: 0.3271 - val_accuracy: 0.8667
Epoch 96/100
105/105 [==============================] - 0s 219us/sample - loss: 0.2550 - accuracy: 0.9429 - val_loss: 0.3266 - val_accuracy: 0.8667
Epoch 97/100
105/105 [==============================] - 0s 219us/sample - loss: 0.2613 - accuracy: 0.9333 - val_loss: 0.3254 - val_accuracy: 0.8667
Epoch 98/100
105/105 [==============================] - 0s 238us/sample - loss: 0.2440 - accuracy: 0.9714 - val_loss: 0.3239 - val_accuracy: 0.8667
Epoch 99/100
105/105 [==============================] - 0s 225us/sample - loss: 0.2477 - accuracy: 0.9619 - val_loss: 0.3229 - val_accuracy: 0.8444
Epoch 100/100
105/105 [==============================] - 0s 229us/sample - loss: 0.2562 - accuracy: 0.9429 - val_loss: 0.3224 - val_accuracy: 0.8444

### Model Prediction

In [73]:
model.predict(testX.values)

array([[9.78208899e-01, 2.15605777e-02, 2.30598525e-04],
       [4.74254221e-01, 4.98401999e-01, 2.73438469e-02],
       [2.54570190e-02, 6.99617565e-01, 2.74925351e-01],
       [9.84108090e-01, 1.55619290e-02, 3.30060342e-04],
       [4.66341226e-05, 3.72525863e-02, 9.62700784e-01],
       [1.76706165e-02, 3.06248963e-01, 6.76080465e-01],
       [3.95113323e-03, 1.98172674e-01, 7.97876120e-01],
       [9.60872710e-01, 3.69857773e-02, 2.14155251e-03],
       [9.59046245e-01, 4.04806808e-02, 4.73105290e-04],
       [5.93580771e-04, 7.61070624e-02, 9.23299372e-01],
       [6.56559765e-02, 6.70441329e-01, 2.63902724e-01],
       [9.67127979e-01, 3.16572450e-02, 1.21482892e-03],
       [3.57631594e-04, 1.37699127e-01, 8.61943185e-01],
       [2.77063176e-02, 4.82170373e-01, 4.90123212e-01],
       [3.08733284e-02, 5.29600501e-01, 4.39526230e-01],
       [9.82957661e-01, 1.68668143e-02, 1.75494191e-04],
       [6.93752542e-02, 8.00573707e-01, 1.30051091e-01],
       [4.03329879e-02, 3.70212287e-01, 5.89454710e-01],
       [9.53011870e-01, 4.65318188e-02, 4.56296228e-04],
       [9.71628010e-01, 2.82405894e-02, 1.31346198e-04],
       [4.06517200e-02, 6.81255996e-01, 2.78092295e-01],
       [4.42262851e-02, 3.20515007e-01, 6.35258675e-01],
       [6.09439565e-03, 4.19585556e-01, 5.74320138e-01],
       [9.80152905e-01, 1.96123328e-02, 2.34681516e-04],
       [2.69275246e-04, 1.37963071e-01, 8.61767590e-01],
       [8.11608434e-02, 6.67456686e-01, 2.51382470e-01],
       [9.83387172e-01, 1.61192603e-02, 4.93703701e-04],
       [9.79382932e-01, 2.00675949e-02, 5.49443415e-04],
       [1.51051618e-02, 6.53945208e-01, 3.30949664e-01],
       [6.56105857e-03, 4.97715890e-01, 4.95723128e-01],
       [2.33010892e-02, 5.10336637e-01, 4.66362357e-01],
       [1.54896203e-04, 1.43582955e-01, 8.56262088e-01],
       [8.38508159e-02, 8.17637801e-01, 9.85113531e-02],
       [1.13705790e-03, 1.50584981e-01, 8.48277986e-01],
       [5.46834292e-03, 1.07300088e-01, 8.87231588e-01],
       [9.67285216e-01, 3.22249196e-02, 4.89783881e-04],
       [7.02661723e-02, 8.16310406e-01, 1.13423355e-01],
       [9.62164164e-01, 3.75466198e-02, 2.89256976e-04],
       [1.56898461e-02, 6.78986311e-01, 3.05323899e-01],
       [6.21166953e-04, 3.56894553e-01, 6.42484307e-01],
       [1.31836429e-03, 1.72039598e-01, 8.26642036e-01],
       [9.73381102e-01, 2.62918863e-02, 3.27037997e-04],
       [5.76351676e-03, 7.15020657e-01, 2.79215842e-01],
       [1.25835347e-03, 1.70054317e-01, 8.28687310e-01],
       [1.42250834e-02, 7.22043812e-01, 2.63731152e-01]], dtype=float32)

### Save the Model

In [74]:
model.save('iris.h5')

### Build and Train a Deep Neural network with 2 hidden layer  - Optional - For Practice

Does it perform better than Linear Classifier? What could be the reason for difference in performance?