In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('blogtext.csv')

In [5]:
df.shape

(681284, 7)

As data is huge, lets take small portion of the data

In [6]:
blogs = df[0:50000]

In [7]:
blogs.shape

(50000, 7)

In [8]:
blogs.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

columns 'id' and 'date' are not informative for our analysis so lets remove them.

In [9]:
blogs.drop(['id', 'date'], axis=1, inplace=True)
#[blogs['age'] < 18]

C:\Users\Swathi\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [10]:
blogs.head()

,gender,age,topic,sign,text
0,male,15,Student,Leo,"Info has been found (+/- 100 pages,..."
1,male,15,Student,Leo,These are the team members: Drewe...
2,male,15,Student,Leo,In het kader van kernfusie op aarde...
3,male,15,Student,Leo,testing!!! testing!!!
4,male,33,InvestmentBanking,Aquarius,Thanks to Yahoo!'s Toolbar I can ...

# Preprocessing Text

In [11]:
#converting to lower case
blogs['text'] = blogs['text'].apply( lambda t : ' '.join( word.lower() for word in t.split()  ) )

C:\Users\Swathi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
blogs.head()

,gender,age,topic,sign,text
0,male,15,Student,Leo,"info has been found (+/- 100 pages, and 4.5 mb..."
1,male,15,Student,Leo,these are the team members: drewes van der laa...
2,male,15,Student,Leo,in het kader van kernfusie op aarde: maak je e...
3,male,15,Student,Leo,testing!!! testing!!!
4,male,33,InvestmentBanking,Aquarius,thanks to yahoo!'s toolbar i can now 'capture'...

In [13]:
# Remove punctuations
blogs['text'] = blogs['text'].str.replace( '[^\w\s]' , '' )
blogs['text'].head(10)

C:\Users\Swathi\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

0    info has been found  100 pages and 45 mb of pd...
1    these are the team members drewes van der laag...
2    in het kader van kernfusie op aarde maak je ei...
3                                      testing testing
4    thanks to yahoos toolbar i can now capture the...
5    i had an interesting conversation with my dad ...
6    somehow cocacola has a way of summing up thing...
7    if anything korea is a country of extremes eve...
8    take a read of this news article from urllink ...
9    i surf the english news sites a lot looking fo...
Name: text, dtype: object

In [15]:
blogs['text'] = blogs['text'].apply(lambda t: " ".join(word.strip() for word in t.split()))

C:\Users\Swathi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
blogs['text'].head()

0    info has been found 100 pages and 45 mb of pdf...
1    these are the team members drewes van der laag...
2    in het kader van kernfusie op aarde maak je ei...
3                                      testing testing
4    thanks to yahoos toolbar i can now capture the...
Name: text, dtype: object

In [17]:
blogs['age'] = blogs['age'].astype(str)

C:\Users\Swathi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
blogs.dtypes

gender    object
age       object
topic     object
sign      object
text      object
dtype: object

# Merging all lable columns

In [19]:
blogs['labels'] = ''

C:\Users\Swathi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
for i in range(0,blogs.shape[0]):
    for j in (i,i+1):
        my_list =[blogs['gender'][i], blogs['age'][i], blogs['topic'][i], blogs['sign'][i]]
        blogs['labels'][i] = my_list

C:\Users\Swathi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [22]:
blogs.drop(['age', 'gender', 'topic', 'sign'], axis=1, inplace=True)

In [23]:
blogs.head()

,text,labels
0,info has been found 100 pages and 45 mb of pdf...,"[male, 15, Student, Leo]"
1,these are the team members drewes van der laag...,"[male, 15, Student, Leo]"
2,in het kader van kernfusie op aarde maak je ei...,"[male, 15, Student, Leo]"
3,testing testing,"[male, 15, Student, Leo]"
4,thanks to yahoos toolbar i can now capture the...,"[male, 33, InvestmentBanking, Aquarius]"

# Data split

In [24]:
X = blogs['text']
y = blogs['labels']

In [25]:
#Divide the data set into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [26]:
print(X_train.shape)
print(X_test.shape)

(40000,)
(10000,)

# Vectorize the features

In [27]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
# initialize vectorizer
CntVect = CountVectorizer(ngram_range=(1,2), stop_words='english', min_df = 0.01)

In [29]:
CntVect.fit(X_train)
X_train_features = CntVect.transform(X_train)

In [30]:
X_test_features = CntVect.transform(X_test)

In [31]:
#CntVect.get_feature_names()
X_train_features.shape

(40000, 1192)

# Term-document matrix

In [32]:
#Print term-document matrix
X_train_features.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 1],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]], dtype=int64)

# Dictionary to get the count of every label

In [33]:
m=[]
for k in range(0, y.shape[0]):
    m = m+y[k]

In [34]:
from collections import Counter

In [83]:
dic = dict(Counter(m))

In [89]:
dic

{'male': 25815,
 '15': 3508,
 'Student': 10660,
 'Leo': 3904,
 '33': 1654,
 'InvestmentBanking': 85,
 'Aquarius': 4784,
 'female': 24185,
 '14': 2043,
 'indUnk': 17560,
 'Aries': 7795,
 '25': 2837,
 'Capricorn': 3819,
 '17': 6859,
 'Gemini': 2558,
 '23': 5518,
 'Non-Profit': 491,
 'Cancer': 4589,
 'Banking': 283,
 '37': 310,
 'Sagittarius': 4571,
 '26': 2869,
 '24': 5746,
 'Scorpio': 3243,
 '27': 4094,
 'Education': 2646,
 '45': 93,
 'Engineering': 1402,
 'Libra': 4378,
 'Science': 705,
 '34': 1886,
 '41': 394,
 'Communications-Media': 1603,
 'BusinessServices': 416,
 'Sports-Recreation': 120,
 'Virgo': 2827,
 'Taurus': 3390,
 'Arts': 1817,
 'Pisces': 4142,
 '44': 38,
 '16': 4156,
 'Internet': 1420,
 'Museums-Libraries': 285,
 'Accounting': 364,
 '39': 412,
 '35': 3365,
 'Technology': 4379,
 '36': 1985,
 'Law': 308,
 '46': 330,
 'Consulting': 243,
 'Automotive': 116,
 '42': 96,
 'Religion': 258,
 '13': 745,
 'Fashion': 1805,
 '38': 196,
 '43': 150,
 'Publishing': 207,
 '40': 192,
 'Marketing': 414,
 'LawEnforcement-Security': 125,
 'HumanResources': 79,
 'Telecommunications': 12,
 'Military': 194,
 'Government': 599,
 'Transportation': 196,
 'Architecture': 70,
 'Advertising': 273,
 '47': 206,
 'Agriculture': 78,
 'Biotech': 101,
 'RealEstate': 17,
 'Manufacturing': 441,
 '48': 318,
 'Construction': 28,
 'Chemicals': 75,
 'Maritime': 54,
 'Tourism': 65,
 'Environment': 6}

# MultiLabelBinarizer

In [90]:
labels_list = dic.keys()
lables =[]
for lable in labels_list:
    lables.append(lable)

In [91]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer(classes=lables, sparse_output=True)
y_train_multilabel = mlb.fit_transform(y_train)
y_test_multilabel = mlb.fit_transform(y_test)

# OneVsRestClassifier

In [95]:
from sklearn.multiclass import OneVsRestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn import metrics, f1_score, average_precision_score, recall_score

In [96]:
classifier = OneVsRestClassifier(LogisticRegression(), n_jobs=-1)

In [97]:
lr = classifier.fit(X_train_features, y_train_multilabel)

In [177]:
predictions = classifier.predict(X_test_features)

In [100]:
print("Accuracy :",metrics.accuracy_score(y_test_multilabel, predictions))

Accuracy : 0.0176

In [102]:
print("f1 score :",metrics.f1_score(y_test_multilabel, predictions, average='weighted'))

f1 score : 0.2764203921882569

C:\Users\Swathi\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)
C:\Users\Swathi\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

In [175]:
print("Average Precision Score :", metrics.average_precision_score(y_test_multilabel.toarray(), predictions.toarray(), average='weighted'))

Average Precision Score : nan

C:\Users\Swathi\Anaconda3\lib\site-packages\sklearn\metrics\ranking.py:528: RuntimeWarning: invalid value encountered in true_divide
  recall = tps / tps[-1]

In [105]:
print("Recall Score :",metrics.recall_score(y_test_multilabel, predictions, average='weighted'))

Recall Score : 0.235725

C:\Users\Swathi\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1439: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples.
  'recall', 'true', average, warn_for)

# Print true label and predicted label

In [176]:
print('Id', 'True Label', 'Predicted Label')
for i in range(0,5):
    #ind = X_test[i]
    ytest =y_test[ind]
    ypred = mlb.inverse_transform(predictions[i])
    print(ind, ytest, ypred)

Id True Label Predicted Label
12196 ['female', '24', 'indUnk', 'Aries'] [('female',)]
12196 ['female', '24', 'indUnk', 'Aries'] [('male',)]
12196 ['female', '24', 'indUnk', 'Aries'] [('female',)]
12196 ['female', '24', 'indUnk', 'Aries'] [('male', 'Leo', 'indUnk')]
12196 ['female', '24', 'indUnk', 'Aries'] [('male',)]